body {
  font-size: 20px;
}

@font-face {
  font-family: "Games";
  src: url("./Games.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#general {
  display: flex;
}

canvas {
  margin: 0 auto;
  position: relative;
  margin-left: 114px;
  z-index: 1;
}

.bg {
  background-image: url("../images/freetileset/png/BG/game-intro2.png");
  background-repeat: no-repeat;
  /* background-color: #ABF5E4; */
}

#start-button {
  width: 5%;
  position: fixed;
  margin: 1px;
}

#stop-button {
  width: 5%;
  position: fixed;
  margin-top: 85px;
}

#refresh-button {
  width: 5%;
  position: fixed;
  margin-top: 170px;
}

.start > img {
  width: 100%;
  height: auto;
}

.instructions {
  width: 30%;
  position: absolute;
  z-index: 1;
  margin-left: 35%;
  margin-top: 19%;
}

/* @media (min-width: 2000px) {
  .bg {
    background-image: url("../images/freetileset/png/BG/principal1200.png");
    background-color: #abf5e4;
    background-position: 0em;
  }

  canvas {
    width: 1617px;
    height: 900px;
    position: relative;
    margin-left: 142px;
    z-index: 1;
  }

  #start-button {
    width: 4%;
    position: fixed;
    margin: 1px;
  }

  #stop-button {
    width: 4%;
    position: fixed;
    margin-top: 85px;
  }

  #refresh-button {
    width: 4%;
    position: fixed;
    margin-top: 176px;
  }

  .instructions {
    width: 20%;
    position: absolute;
    z-index: 1;
    margin-left: 40%;
    margin-top: 16%;
  }
} */
